/***************************************************************************************************
	Sticky Footer
	================================================================================================
***************************************************************************************************/

/*Estilos Directos a Tags*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/

html{ height: 100%; }
body{ height: 100%; }

/*Sticky Footer*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
#wrapper {
	
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 1024px;
	margin: 0 auto -150px;
}

#footer, #push { height: 150px; }